{% extends 'master2.html' %}
{% block mycontent %}

<div class="post">
    <h2 class="title"><a href="#">About</a></h2>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
    <span style="font-size: 23px;">
    This my about us page : 
    <span style="font-size: 23px;">I have knowledge of many programming and coding languages like:</span>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
<ul>
    <span style="font-size: 20px;">Programming Languages</span>
    <li>C</li>
    <li>Python</li>
    <li>Java</li>
    <li>Kotlin</li>
    <hr>
    <span style="font-size: 20px;">Coding Languages</span>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>NodeJS</li>
    <li>AngularJS</li>
    <li>ReactJS</li>
    <li>Django</li>
</ul>
<span style="font-size: 20px;">I have also worked with SQL database like 'MySQL' and NoSQL database like 'MongoDB' too</span>
    
    </div>
</div>

{% endblock %}